@charset "UTF-8";

.row{
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.graph{
	display: inline-block;
	text-align: center;
}

.graph_title{
    display: flex;
	height: 110px;
    align-content: space-around;
    flex-direction: column;
}

.graph_title > h4{
	font-weight: bold;
}
