<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<style type="text/css">
			input[type='radio'], input[type='checkbox'] {
				vertical-align: sub;
				width: 20px;
				height: 20px;
				margin-right: 10px;
			}
			
			/* header */
			.order-header, .order-body, .order-footer {
				width: 100%;
				display: inline-block;
			}
			
			.order-header {
				background: #FCFCFB;
				height: 160px;
				padding: 30px;
				margin-bottom: 10px;
			}
			
			.order-header>.left {
				display: inline-block;
				float: left;
				font-size: 22px;
				font-weight: bold;
				line-height: 170px;
			}
			
			.order-header>.right {
				display: inline-block;
				float: right;
				font-size: 20px;
				font-weight: bold;
				line-height: 170px;
			}
			
			.order-header>.right>span {
				padding: 10px;
			}
			
			.order-header>.right>span>span {
				text-align: center;
				line-height: 45px;
				border-radius: 30px;
				color: #F3FEFD;
				display: inline-block;
				width: 45px;
				height: 45px;
				background: #D8DBDD;
			}
			
			.order-header>.right>span:nth-child(3)>span {
				background: #8ABC3F;
			}
			
			/* order alert */
			.order-alert{
				margin: 30px 0px;
				text-align: center;
			}
			
			.order-alert>div{
				font-weight: bold;
			}
			
			.order-alert>div:nth-child(1){
				font-size: 30px;
				margin-bottom: 10px;
			}
			
			/* product list */
			.body-title {
				margin: 10px 0px;
				font-weight: bold;
			}
			
			.body-list, .price-list {
				width: 100%;
			}
			
			.body-list tr, .body-list tr>th {
				text-align: center;
			}
			
			.body-list tr>th:nth-child(2) {
				width: 250px;
			}
			
			.body-list>thead>tr {
				background: #F6F7F3;
				height: 40px;
				border-top: 1px solid #333333;
				border-bottom: 1px solid #33333330;
			}
			
			.body-list>tbody>tr {
				border-bottom: 1px solid #33333330;
			}
			
			.body-list>tbody>tr>td {
				font-weight: bold;
				height: 100px;
			}
			
			.body-list>tbody .prd {
				padding: 0px 20px;
				text-align: left;
			}
			
			.body-list>tbody .prd>span {
				display: inline-block;
				width: 70%;
				vertical-align: middle;
			}
			
			.body-list>tbody .prd>img {
				width: 100px;
				height: 100px;
				margin: 15px;
			}
			
			/* price list */
			.price-list>tbody>tr {
				background: #F6F7F3;
				height: 65px;
				color: #9E9E9E;
			}
			
			td.price {
				text-align: right;
				padding-right: 15px;
			}
			
			.price-list>tbody>tr:nth-child(1) {
				font-size: 20px;
				font-weight: bold;
				color: #000000;
			}
			
			.price-list>tbody>tr:nth-child(2) > td{
				padding-bottom: 0px;
				padding-top: 30px;
			}
			
			.price-list>tbody>tr>td {
				width: 50px;
			}
			
			.price-list>tbody>tr>td.ico {
				width: 60px;
			}
			
			.price-list>tbody>tr>td:nth-child(1) {
				padding-left: 30px;
			}
			
			/* footer */
			.pay-btn {
				margin-top: 50px;
				margin-bottom: 100px;
				color: #FFFFFF;
				text-align: center;
				letter-spacing: 15px;
			}
			
			.pay-btn>button {
				width: 120px;
				height: 40px;
				font-size: 16px;
				font-weight: bold;
			}
			
			.pay-btn>button:hover, .pay-btn>button:focus {
				color: #FFFFFF;
				text-decoration: none;
				border: 2px solid #0099EE;
			}
			
			.pay-btn>#mypage_btn {
				background: #707070;
			}
			
			.pay-btn>#home_btn {
				background: #729775;
			}
		</style>
	</head>
	<body>
		<div>
			<div class="order-header">
				<div class="left">
					<img alt="주문완료" src="/resources/images/order/ico_order_complete.png" />
					주문완료
				</div>
				<div class="right">
					<span><span>01</span> 장바구니</span>
					<span><span>02</span> 주문작성/결제</span>
					<span><span>03</span> 주문완료</span>
				</div>
			</div>
			<div class="order-body">
				<div class="order-alert">
					<div>"결제가 완료 되었습니다"</div>
					<div>감사합니다. 결제내역에 대한 메일이 입력해주신 이메일로 전송되었습니다.</div>
				</div>
				<div class="cart_list">
					<div class="body-title">결제내역</div>
					<table class="body-list">
						<thead>
							<tr>
								<th colspan="13">상품명/옵션</th>
								<th>수량</th>
								<th colspan="2">상품가</th>
								<th colspan="2">주문금액</th>
								<th colspan="2">배송비</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="20">test</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="cart_price">
					<table class="price-list">
						<tbody>
							<tr>
								<td colspan="3">주문금액</td>
								<td id="all_price" class="price" colspan="3">0원</td>
								<td class="ico" colspan="1"><img alt="마이너스" src="/resources/images/order/ico_total_minus.png"/></td>
								<td colspan="3">할인금액</td>
								<!-- TODO 특가 상품의 할인율 가져와서 적용 -->
								<td id="all_discount" class="price" colspan="3">0원</td>
								<td class="ico" colspan="1"><img alt="합계" src="/resources/images/order/ico_total_sum.png"/></td>
								<td colspan="3">총 주문금액</td>
								<td id="result_price" class="price" colspan="3">0원</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="order-footer">
				<div class="pay-btn">
					<button type="button" id="mypage_btn" class="btn btn-lg">마이페이지</button>
					<button type="button" id="home_btn" class="btn btn-lg">홈으로</button>
				</div>		
			</div>
		</div>
	</body>
</html>