<?xml version="1.0" encoding="UTF-8"?>
<!-- DOCTYPE과 DTD, mybatis-3- 뒤의 mapper, Mapper, mapper -> configuration, Config, config로 변경 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- <mapper namespace="config.mybatis-config"></mapper> -->
<configuration>
	<typeAliases>
		<typeAlias type="com.kplant.admin.faq.vo.FaqVO" alias="faq"/>
		<typeAlias type="com.kplant.admin.consult.vo.ConsultVO" alias="consult"/>
		<typeAlias type="com.kplant.admin.event.vo.EventVO" alias="event"/>
	</typeAliases>
</configuration>