<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>

		<typeAlias type="com.kplant.admin.faq.vo.FaqVO" alias="faq"/>
		<typeAlias type="com.kplant.admin.consult.vo.ConsultVO" alias="consult"/>
		<typeAlias type="com.kplant.admin.event.vo.EventVO" alias="event"/>
		<typeAlias type="com.kplant.admin.member.vo.MemberVO" alias="member"/>

	
		<!-- OrderVO -->
		<typeAlias type="com.kplant.admin.order.vo.OrderListVO" alias="orderList"/>
		<typeAlias type="com.kplant.admin.order.vo.OrderDetailVO" alias="orderDetail"/>
		<typeAlias type="com.kplant.admin.order.vo.ShippingVO" alias="shipping"/>
		<typeAlias type="com.kplant.admin.order.vo.PaymentVO" alias="payment"/>
		<typeAlias type="com.kplant.admin.order.vo.OrderCancelVO" alias="orderCancel"/>

		<!-- 타입에 대한 별칭부여. BoardVO 타입을 가진 '별칭 board'라는 객체 -->
		<!-- <typeAlias type="com.spring.client.board.vo.BoardVO" alias="board"/> -->
		<typeAlias type="com.kplant.admin.product.vo.ProductVO" alias = "product"/>
		<typeAlias type= "com.kplant.admin.product.vo.ProductImageVO" alias = "image"/>
	</typeAliases>
</configuration>