@charset "UTF-8";

.container {
	text-align: center;
}

h1 {
	margin-top: 242px;
	font: bold;
	color: #7F7F7F;
}

td>img {
	width: 180px;
	height: 180px;
	margin: 20px;
}

table {
	text-align: center;
	margin: auto;
	margin-top: 30px;
	box-shadow: 5px 5px 10px #DDDDDD;
	padding: 20px;
}

td {
	padding-right: 20px;
	font: bold;
	color: #7F7F7F;
}

h3 {
	padding-bottom: 0px;
}

input {
	padding: 10px 50px;
	background-color: #1E332C;
	border: 2px solid #1E332C;
	color: white;
	border-radius: 3px;
}
