@charset "UTF-8";

#btn {
	padding: 7px 40px;
	background-color: #1E332C;
	border: 2px solid #1E332C;
	color: white;
	border-radius: 3px;
	margin-top: 20px;
}

th {
	text-align: center;
	background-color: gray;
	color: white;
}

table.table-bordered {
	margin-top: 30px;
}
