@charset "UTF-8";
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.leftHeader{
	background: #b6b7b8;
	text-align: center;
	padding-top: 10px;
	padding-bottom :10px;
	font-family: 'Noto Sans KR', sans-serif;
}

.nav-be{
    display: inline-block;
    width: 200px;
    height: 1028px;
    padding-top: 45px;
}

.customer-table{
	display: inline-block;
    width: 75%;
    text-align: center;
}

.customer-content{
	text-align: center;
    padding-top: 45px;
}
.font-select{
	font-family: 'Noto Sans KR', sans-serif;
}
.center-call{
	margin-top: 350px;
    background-color: #2b2c2d;
}
.center-content{
	padding: 25px;
    color: white;
}
.center-bnt{
	background-color: #262626;
    text-align: center;
    color: #01DF01;
    font-size: large;
    padding: 10px;
}
.customer-title{
	padding-bottom: 45px;
	color: #6d6e71;
}
.faq-title{
	font-size: 30px;
    color: #729775;
}
.faq-table{
	width: 100%;
    max-width: 100%;
}

.left-menu{
	margin: 15px;
    font-size: 18px;
}
.left-menu a{
	color: #333;
}
.faq-table tr{
	border: 3px solid #ddd;
}
.faq-q{
	padding: 10px;
}
.faq-th{
	padding : 30px;
}
air{
	padding: 10px;
}