@CHARSET "UTF-8";

.container {
	TEXT-ALIGN: CENTER;
}

h1 {
	MARGIN-TOP: 115PX;
	FONT: BOLD;
	COLOR: #7F7F7F;
}

table {
	TEXT-ALIGN: CENTER;
	MARGIN: AUTO;
	MARGIN-TOP: 40PX;
	BOX-SHADOW: 5PX 5PX 10PX #DDDDDD;
	WIDTH: 400PX;
	HEIGHT: 350PX;
}

#findPwdBtn {
	PADDING: 5PX 30PX;
	BACKGROUND-COLOR: WHITE;
	COLOR: #1E332C;
	BORDER-RADIUS: 3PX;
	BORDER: 2PX SOLID #1E332C;
}

#loginBtn {
	PADDING: 5PX 40PX;
	BACKGROUND-COLOR: #1E332C;
	BORDER: 2PX SOLID #1E332C;
	COLOR: WHITE;
	BORDER-RADIUS: 3PX;
}

p {
	MARGIN: 0PX;
}

.section {
	MIN-HEIGHT: 689PX;
}