@charset "UTF-8";@charset "UTF-8";
/* common */
.btn-style, .btn-style:hover, .btn-style:focus {
	background: #707070;
	color: #FFFFFF;
	font-weight: bold;
}

/* title */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/* hotdeal-header */
.hotdeal-header {
	margin: 0px 10px;
	margin-bottom: 10px; text-align : right;
	letter-spacing: 5px;
	text-align: right;
}

.hotdeal-header>select, .hotdeal-header>input, .hotdeal-header>button {
	display: inline-block;
	height: 35px;
}

.hotdeal-header>select {
	width: 150px;
}

.hotdeal-header>input {
	width: 250px;
}

.hotdeal-header>input[type='date'] {
    width: 150px;
}

/* hotdeal-list */
.hotdeal-body input[type='checkbox'] {
    margin: 0px auto;
    width: 16px;
    height: 16px;
}

.hotdeal-body > table {
	width: 100%;
}

.hotdeal-body > table tr {
	height: 50px;
	border-bottom: 1px solid #33333330;
}

.hotdeal-body > table > thead > tr:nth-child(1) {
	height: 40px;
}

.hotdeal-body > table th {
	background: #DDDDDD;
	font-size: 16px;
}

.hotdeal-body > table th, table td {
	text-align: center;
}

.hotdeal-body > table > tbody > tr:hover{
	background: #AEC29F30;
	cursor: pointer;
}

/* hotdeal-footer */
.hotdeal-footer {
	text-align: right;
	margin-top: 25px;
}