<?xml version="1.0" encoding="UTF-8"?>
<!-- DOCTYPE과 DTD, mybatis-3- 뒤의 mapper, Mapper, mapper -> configuration, Config, config로 변경 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- <mapper namespace="config.mybatis-config"></mapper> -->
<configuration>
	<typeAliases>
		<typeAlias type="com.kplant.client.customer.faq.vo.FaqVO" alias="faq"/>
		<typeAlias type="com.kplant.client.join.vo.MemberVO" alias="member"/>

		<!-- OrderVO -->
		<typeAlias type="com.kplant.client.order.vo.OrderListVO" alias="orderList"/>
		<typeAlias type="com.kplant.client.order.vo.OrderDetailVO" alias="orderDetail"/>
		<typeAlias type="com.kplant.client.order.vo.ShippingVO" alias="shipping"/>
		<typeAlias type="com.kplant.client.order.vo.PaymentVO" alias="payment"/>
	</typeAliases>
</configuration>