@charset "UTF-8";
/* common */
.btn-style, .btn-style:hover, .btn-style:focus {
	background: #707070;
	color: #FFFFFF;
	font-weight: bold;
}


/* order-header */
.order-header {
	margin: 0px 10px;
	margin-bottom: 10px; text-align : right;
	letter-spacing: 5px;
	text-align: right;
}

.order-header>select, .order-header>input, .order-header>button {
	display: inline-block;
	height: 35px;
	vertical-align: middle;
}

.order-header>select {
	width: 150px;
}

.order-header>input {
	width: 250px;
}

.order-header>input[type='date'] {
    width: 150px;
}

/* order-list */
.order-body .all-check{
	cursor: pointer;
}

.order-body input[type='checkbox'] {
    margin: 0px auto;
    width: 16px;
    height: 16px;
}

table {
	width: 100%;
}

table tr {
	height: 50px;
	border-bottom: 1px solid #33333330;
}

table > thead > tr:nth-child(1) {
	height: 40px;
}

table th {
	background: #DDDDDD;
	font-size: 16px;
}

table th, table td {
	text-align: center;
}

table > tbody > tr:hover{
	background: #AEC29F30;
	cursor: pointer;
}

/* order-footer */
.order-footer{
	margin-top: 25px;
}

.foot-left, .foot-right {
	display: inline-block;
}

.foot-left {
	float: left;
}

.foot-right {
	float: right;
}

.order-footer div.text-center{
	clear: both;
}