@charset "UTF-8";
/* common */
.btn-style, .btn-style:hover, .btn-style:focus {
	background: #707070;
	color: #FFFFFF;
	font-weight: bold;
}

/* title */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/* order-header */
.order-header {
	margin: 0px 10px;
	margin-bottom: 10px; text-align : right;
	letter-spacing: 5px;
	text-align: right;
}

.order-header>select, .order-header>input, .order-header>button {
	display: inline-block;
	height: 35px;
}

.order-header>select {
	width: 150px;
}

.order-header>input {
	width: 250px;
}

/* order-list */
table {
	width: 100%;
}

table tr {
	height: 50px;
	border-bottom: 1px solid #33333330;
}

table > thead > tr:nth-child(1) {
	height: 40px;
}

table th {
	background: #DDDDDD;
	font-size: 16px;
}

table th, table td {
	text-align: center;
}

.foot-left, .foot-right {
	display: inline-block;
}

.foot-left {
	float: left;
}

.foot-right {
	float: right;
}